@model ECX.VCTS.ViewModels.BCCCasesListClass
@{
    ViewData["Title"] = "DecideonSelectedCases";
}

<div id="resultarea">

    <div style="text-align:center;">
        <h2>List of Cases for BCC Decision</h2>
    </div>

    <table class="table" id="tblcases">

        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.BCCCasesList.FirstOrDefault().ViolationCenterName)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.BCCCasesList.FirstOrDefault().ViolationSummary)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.BCCCasesList.FirstOrDefault().DecisionViolatorName)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.BCCCasesList.FirstOrDefault().DecisionViolationType)
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.BCCCasesList)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ViolationCenterName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ViolationSummary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DecisionViolatorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DecisionViolationType)
                </td>
                <td hidden>
                    @Html.DisplayFor(modelItem => item.ViolationCaseId)
                </td>
            </tr>
            }
        </tbody>

    </table>

</div>


<div id="penaltyarea" style="border-top:solid 2px #FDC006; border-bottom:solid 2px #FDC006;" hidden>

    <div class="row">

        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="form-group">
                -->
                @*<label for="penaltytype">Choose Penalty Type:</label>*@
                <select name="penaltytype" id="penaltytype">
                    <option value="Choose Penalty Type">Choose Penalty Type</option>
                    <option value="financial">Financial</option>
                    <option value="suspension">Suspension</option>
                    <option value="termination">Termination</option>
                    <option value="dismissed">Dismissed</option>
                </select>
            </div>
        </div>
        <div class="col-md-4"></div>

    </div>

</div>


<div id="penaltydecisionarea">

    <div class="row" id="financial" hidden>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="@Model.DecisionAmountPenalized" class="control-label"></label>
                <input asp-for="@Model.DecisionAmountPenalized" class="form-control"
                       style="border: 2px solid lightblue" id="financial" name="financial" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="@Model.DecisionPassedDate" class="control-label"></label>
                <input asp-for="@Model.DecisionPassedDate" class="form-control" id="effDate"
                       style="border: 2px solid lightblue" value="mm/dd/yyyy" name="effectivedate" />
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row" id="suspension" hidden>
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
            <div class="form-group">
                <label asp-for="@Model.SuspensionBeginingDate" class="control-label"></label>
                <input asp-for="@Model.SuspensionBeginingDate" class="form-control" id="beginingdate"
                       style="border: 2px solid lightblue" value="mm/dd/yyyy" name="begindate" />
                <span asp-validation-for="@Model.SuspensionBeginingDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label asp-for="@Model.SuspensionEndingDate" class="control-label"></label>
                <input asp-for="@Model.SuspensionEndingDate" class="form-control" id="endingdate"
                       style="border: 2px solid lightblue" value="mm/dd/yyyy" name="enddate" />
                <span asp-validation-for="@Model.SuspensionEndingDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>

    <div class="row" id="termination" hidden>
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="form-group">
                <label asp-for="@Model.TerminationDate" class="control-label"></label>
                <input asp-for="@Model.TerminationDate" class="form-control" style="border: 2px solid lightblue"
                       value="mm/dd/yyyy" id="terminationdate" name="terminationdate" />
                <span asp-validation-for="@Model.TerminationDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>

    <div class="row" id="bccsum" hidden>
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="form-group">
                <label asp-for="@Model.BCCSummary" class="control-label"></label>
                <textarea asp-for="@Model.BCCSummary" class="form-control" id="bccsum" name="bccsum"></textarea>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>




<hr style="border-top:solid 2px #FDC006;" />
<div id="buttonarea">
    <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-2" id="PassDecisionButton">
            <input type="button" class="btn btn-primary"
                   value="Decide On Selected Cases" id="btnpass" />
        </div>
        <div class="col-lg-5"></div>
    </div>
</div>

